{% extends "layout.html" %}
{% block content %}

<form method="POST" action="">
  <fieldset class="form-group">
    <legend>Add Items</legend>
              {{ form.itemName.label() }}
                    {{ form.itemName() }}

                {{ form.pkdDate.label() }}
                    {{ form.pkdDate() }}

                {{ form.expDate.label() }}
                    {{ form.expDate() }}
<br><br><br>
                {{ form.quantity.label() }}
                    {{ form.quantity() }}

                {{ form.price.label() }}
                    {{ form.price() }}
</fieldset>
<br><br>
           {{ form.add() }}

</form>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>item name</th>

        <th>packed date</th>
        <th>expiry date</th>
        <th>quantity</th>
        <th>price</th>
      </tr>
    </thead>
  {%for item in items%}
  <tbody>
  <tr>
    <td>{{item.item_name}}</td>
    <td>{{item.pkd_date.strftime('%d-%m-%Y')}}</td>
    <td>{{item.exp_date.strftime('%d-%m-%Y')}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.price}}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>


{% endblock content %}
